@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
body{
    background-color: white;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}
/* body ::-webkit-scrollbar {
    display: none;
} */
.main{
    margin: 0px;
    width: 100%;
}
.nav_bar1{
    /* margin-top: -58px; */
    display: flex;
    /* background-color: blue; */
    /* align-items: center; */
    background-color: rgb(239, 239, 239);
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    /* z-index: 1; */
}
.logo{
    margin-left: 50px;
    /* background-color: red; */
    width: fit-content;
}
.nav1_items{
    display: flex;
    /* background-color: red; */
    /* background-color: rgb(239, 239, 239); */
    justify-content: flex-start;
    margin-right: 50px;
    font-size: 12px;
    margin-top:  5px;
    font-weight: 600;
}
.nav_bar2{
    background-color: white;
    height: 65px;
    display: flex;
    align-items: center;
    margin-top: -8px;
    /* position: fixed; */
    width: 100%;
    /* background-color: red; */
    /* z-index: 1; */
}
.logo2{
    margin-left: 40px;

}
.nav_contents{
    display: flex;
    /* background-color: red; */
    width: 750px;
    height: 100%;
    margin-left: 340px;
    /* justify-content: space-evenly; */
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.item{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;
}
.item:hover{
    border-bottom: 2px solid black;
}
.search_bar{
    /* background-color: aquamarine; */
    height: 55px;
    display: flex;
    align-items: center;
    /* margin-left: px; */
}
.search{
    background-color: rgb(223, 223, 223);
    height: 40px;
    width: 155px;
    border-radius: 60px;
    border: none;
    padding-left: 45px;
    opacity: 0.5;
}
.search:hover{
    opacity: 1;
    border: none;
}
.bi-search{
    position: relative;
    right: 83%;
    top: 1px;
    font-size: 18px;
}
.bi-search:hover{
    transform: scale(1.1);
}
.icons{
    /* background-color: red; */
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    margin-left: 22px;
    margin-top: -2px;
}
.icon1, .icon2, .icon3{
    /* background-color: grey; */
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 15px;
}
.icon3{
    font-size: 30px;
}
.bi-suit-heart, .bi-handbag{
    margin-top: -5px;
}
.icon1:hover{
    background-color: rgb(209, 208, 208);
}
.icon2:hover{
    background-color: rgb(209, 208, 208);
}
.banner{
    background-color: rgb(239, 239, 239);
    /* margin-top: -7px; */
    height:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 0.5px;
    font-size: 13px;
    font-weight: 400;
    /* margin-top: 1%; */
}
.p1{
    font-size: 15px;
    margin-top: 20px;
}
.banner a{
    /* text-decoration: none; */
    color: black;
    margin-top: 5px;
    font-weight: 500;
}
.contents{
    padding-left: 50px;
    padding-right: 50px;
}
.content1{
    background-color: white;
    display: flex;
    justify-content: center;
    /* margin-left: 50px; */
}
.content1 .back_img1{
    height: 800px;
    width: 100%;
}
.back_img_text{
    /* z-index: -1; */
    position: absolute;
    color: white;
    font-size: 80px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 400px;
}
.sub_content1{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(28, 85, 134); */
    justify-content: center;
    align-items: center;
    text-align: center;
}content1
.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
    width: 425px;
    height: 55px;
}
.head0{
    margin-top: 50px;
}
.head1, .head1_0{
    font-size: 70px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
}
.head1{
    margin-top: -30px;
}
.head1_0{
    margin-top: -55px
}
.para_1{
    margin-top: -15px;
}
.buttons{
    display: flex;
}
.buttons div{
    margin-left: 5px;
}
.buttons p{
    margin-top: 10px;
}
.btn1, .btn2{
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    font-weight: 500;
}
.btn1:hover{
    background-color: grey;
}
.btn2:hover{
    background-color: grey;
}
.images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.image{
    width: 455px;
    height: 555px;
}
.content2 .cnt_text{
    margin-top: 85px;
    font-size: 18px;
    font-weight: 600;
}
.content3 .cnt_text{
    margin-top: 100px;
    font-size: 18px;
    font-weight: 600;
}
.images1{
    display: flex;
}
.img1_0{
    flex:1;
}
.img1_0 img{
    width: 100%;
    height: 100% ;
}
.img_2{
    margin-left: 20px;
}
.text{
    margin-top: -150px;
    color: white;
    font-weight: 500;
    margin-left: 15px;
}
.text1{
    color: white;
    margin-top: -125px;
    font-weight: 500;
    margin-left: 15px;
}
.head{
    font-weight: 700;
}
.sub_content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
    text-align: center;
}  
.content5 .cnt_text{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
}
.carouse{
    width: 50%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 100%;
    height: 288px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-top: 15px;
    /* flex: 1; */
    /* margin-left: 30px; */
}
.carousel img{
    border-radius: 25px;
}
/* .carousel-inner{
    display: flex;

} */
.carousel-item{
    padding: 15px 0 0 15px
    /* justify-content: center;
    align-items: center; */
}
.carousels{
    display: flex;
}
.carousel_section1, .carousel_section2{
    display: flex;
    width: 50%;
    /* background-color: red; */
}
.carousels p{
    margin-top: 10px;
    font-weight: 500;
}
.carousel-item img{
    width:95%;
    height:255px;
}
.content6 .cnt_text{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.content6 img{
    width: 400px;
    height: 358px;
}
.contents6{
    display: flex;
    overflow: auto;
}
.Secondone, .Thirdone, .Fourthone, .Fifthone{
    margin-left: 25px;
}
.firstone, .Secondone, .Thirdone, .Fourthone, .Fifthone{
    height: 490px;
}
.content7 .cnt_text{
    font-size: 18px;
    font-weight: 600;
}
.contents7{
    display: flex;
    overflow: auto;
    height: 518px;
}
.contents7 img{
    width: 417px;
    height: 500px;
}
.cnt{
    margin-left: 20px;
}
.first_cnttxt{
    margin-top: -130px;
    margin-left:25px ;
    color: rgb(255, 255, 255);
}
.table{
    width: 50%;
}
.content8{
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 2;
}
.content8 p{
    margin-left: 29px;
    font-weight: bold;
}

.firstcnt{
    font-weight: bold;
    line-height: 1;
    /* word-spacing: 0.5; */
    font-family: "Teko", sans-serif;
    margin-top: 25px;
}
.secondcnt, .thirdcnt{
    font-size: 15px;
    margin-left: 80px;
    margin-top: 25px;
    color: grey;
    line-height: 1;
}
.cnts{
    display: flex;
    margin-left: 100px;
    width: 50%;
}
.container1{
    display: flex;
}
.logos{
    display: flex;
    font-size: 25px;
    /* background-color: red; */
    height: fit-content;
    margin-left: 400px;
}
.facebook, .youtube, .insta{
    margin-left: 25px;
}
.last_line{
    display: flex;
    font-size: 12px;
}
.leftside{
    display: flex;
    align-items: center;
}
.rightside{
    display: flex;
    margin-left: 850px;
}
.rightside p{
    margin-left: 15px;
}
.icon3{
    display: none;
}
/* Pop - Up */

.popup {
    display: none;
    position: fixed;
    right: 16px;
    top: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    width: 50%;
    height: 500px;
    overflow: auto;
    
}

.closebutton{
    position: relative;
    /* background-color: red; */
}
.bi-x{
    margin-left: 170px;
}
.pop1{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}
.pop1 .bi-caret-right{
    position:absolute;
    right: 10px;
}
.popup_logo{
    margin-top: 25px;
    margin-left: 25px;
}
.popup_para{
    margin-top: 25px;
    margin-left: 10px;
}
.popup_buttons{
    margin-left: 15px;
}
.pbtn2{
    margin-left: 5px;
}
.pop_icons{
    margin-top: 20px;
    width: 100px;
    margin-left: 50px;
}
.firstp_icon, .secondp_icon, .thridp_icon, .fourthp_icon{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

/* Pop - Up end */
/* Media Query */
@media (max-width:1400px){
    .image{
        width: 400px;
        height: 500px;
    }
    .rightside{
        margin-left: 700px;
    }
}
@media  (max-width:1250px) {
    .item7{
        display: none;
    }
    .search_bar{
        margin-left: 50px;
    }
    .nav_contents{
        font-size: 15px;
        margin-left: 260px;
        width: fit-content;
    }
    .image{
        width: 355px;
        height: 455px;
    }
    .img1_0 img{
        width: 555px;
        height: 655px ;
    }
    .content1 .back_img1{
        height: 600px;
    }
    .content4{
        margin-top: -80px;
    }
    .sub_content2{
        margin-top: -180px;
    }
    .rightside{
        margin-left: 500px;
    }
    .firstcnt p{
        font-size: 16px;
        font-weight: 400;
        width: 100px;
    }
    .secondcnt_head{
        font-size: 16px;
        width: 230px;
    }
    .seccondcnt p{
        font-size: 13px;
    }
    .logos{
        margin-left: 300px;
        font-size: 20px;
    }
  
}
@media  (max-width:1200px){
    .item6{
        display: none   ;
    }
    .nav_contents{
        margin-left: 240px;
    }
}
@media (max-width:1100px){
    .carousels{
        display: block;
    }
    .img1_0 img{
        width: 100%;
        height: 100% ;
    }
    .image{
        width: 255px;
        height: 355px;
    }
    .nav_contents{
        font-size: 15px;
        margin-left: 160px;
    }
    .logos{
        margin-left: 200px;
        font-size: 20px;
    }
    .carousels{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .secondcnt p{
        font-size: 12px;
    }
    .thirdcnt p{
        font-size: 12px;
    }
    .rightside{
        margin-left: 300px;
    }
    .item5{
        display: none;
    }
}
@media (max-width:800px) {
    .secondcnt{
        margin-left: 25px;
    }
    .thirdcnt{
        margin-left: 1px;
    }
    .logos{
        margin-left: 100px;
        font-size: 15px
    }
    .logos div{
        margin-left: 10px;
    }
    .rightside{
        margin-left: 100px;
    }
    .search{
        display: none;
    }
    .nav_contents{
        width:95%; 
        height: 255px;
        margin-left: 100px;
        font-size: 13px;
    }
    .image{
        width: 200px;
        height: 300px;
    }
    .images{
        font-size: 12px;
    }
    .carousel_section1{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .carousel_section2{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .last_line{
        font-size: 10px;
    }
    .back_img_text{
        font-size: 50px;
        margin-top: 200px;
    }
    .content1 .back_img1{
        height: 400px;
    }
    .img1_0 .cnt3_para{
        font-size: 15px;
    }
    .content4 video{
        height: 600px;
    }
    .content4 .cnt_head4{
        font-size: 55px;
    }
    .content4 .head1_0{
        padding-top: 5px; 
    }
    .content4 .para_1{
        font-size: 12px;
    }
    
    .search_bar{
        margin-left: 120px;
    }
    .content8 .list{
        font-size: 12px;
    }
    .content8 .three{
        width: 400px;
    }
    .content8 .one{
        width: 300px;
    }
    .content8 .two{
        width: 300px;
    }
    .content8 .four{
    /* margin-left: 100px; */
    width: 300px;
    }
}
@media (max-width:650px) {
    .bi-x{
        margin-left: 260px;
    }
    .nav_contents{
        display: none;
    }
    .search_bar{
        margin-left: 50%;
    }
    .icons{
        margin-left: 0px;
    }
    .icons div{
        margin-left: 25px;
    }
    .icon3{
        display:flex;
    }
    .image{
        width: 150px;
        height: 250px;
    }
    .carousel{
        height: 170px;
    }
    .carousel-item img{
        width: 93%;
        height: 140px;
        object-fit: fill;


    }

}
@media (max-width:450px) {
    .bi-x{
        margin-left: 170px;
    }
    .search_bar{
        margin-left: 125px;
    }
    .content1 .back_img1{
        height: 200px;
    }
    .content1 .back_img_text{
        font-size: 30px;
        margin-top: 80px;
    }
    .sub_content1{
        margin-top: 0px;
    }
    .para_1{
        font-size: 12px;
    }
    .buttons p{
        font-size: 12px;
    }
    .buttons div{
        height: 30px;
    }
    .images1{
        display: flex;
        flex-direction: column;
    }
    .img_2{
        margin-top: 20px;
        margin-left: 0px;
    }
    .sub_content2{
        margin-top: -120px;
    }
    .head1{
        margin-top: -3px;
        font-size: 50px;
        line-height: 50px;
    }
    .head1_0{
        margin-top: 0px;
        font-size: 50px;
        line-height: 50px;
    }
    .image{
        width: 300px;
        height: 400px;
    }
    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content8 li{
        display: none;
    }
    .content8{
        display: flex;
        flex-direction: column;
    }
    .container1{
        display: flex;
        flex-direction: column;
    
    }
    .cnts{
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }
    .cnts .secondcnt{
        margin-left: 0px;
    }
    .last_line{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }
    .rightside{
        margin-left: 15px;
    }
    .logos{
        margin-left: 23px;
    }
    .content4 video{
        height: 400px;
    }
    .carousel{
        height: 200px;
    }
    .carousel-item img{
        width: 93%;
        height: 170px;
        object-fit: fill;


    }

}
@media  (max-width:410px){
    .search_bar{
        margin-left: 50px;
    }
} 

/* Media Query End */

/* NIKE AIR PAGE STYLE */
.nav_bar2_3{
    display: flex;
    height: 180px;
}
.left_side2_1{
    background-color: red;
}
.left_side2_1 p{
    font-size: 23px; 
    font-weight: 600;
    margin-top: 148px;
}
.right_side2_1{
    display: flex;
}